__pycache__
*.__pycache__
mask.pbm
mask_invert.pbm
only_black.bmp
only_black.png
only_black.pnm
only_red.bmp
only_red.png
only_red.pnm
*.pyc
screen-output*
env.sh
*.log
*.pickle
credentials*
*.json
*.bin
test.svg
*.xml
venv
