__pycache__
*.__pycache__
*.pyc
screen-output*
screen-custom-get.py
env.sh
*.log
*.pickle
credentials*
*.json
!.vscode/*
*.bin
test.svg
*.xml
venv
cache_
.venv
.env

xkcd-comic-strip.png

screen-literature*.svg
screen-literature*.png
