# Climacell API Key
export CLIMACELL_APIKEY=xxxxxxxxxxxxxx
# Or, OpenWeatherMap API Key
# export OPENWEATHERMAP_APIKEY=xxxxxxxxxxxxxx
# Or, MetOffice Weather DataHub Client ID + Secret
# export METOFFICEDATAHUB_CLIENT_ID=xxxxxxxxxxxxxx
# export METOFFICEDATAHUB_CLIENT_SECRET=xxxxxxxxxxxxxx

# Google Calendar ID, you can get this from Google Calendar Settings
export GOOGLE_CALENDAR_ID=primary
# Or if you use Outlook Calendar, use python3 outlook_util.py to get available Calendar IDs
#export OUTLOOK_CALENDAR_ID=AQMkAxyz...

# Most new Waveshare are 2, older ones are 1
export WAVESHARE_EPD75_VERSION=2

export WEATHER_FORMAT=CELSIUS

# Your latitude and longitude to pass to weather providers
export WEATHER_LATITUDE=51.3656
export WEATHER_LONGITUDE=0.1963

# You can set this to DEBUG for troubleshooting, otherwise leave it at INFO. 
export LOG_LEVEL=INFO