export CLIMACELL_APIKEY=xxxxxxxxxxxxxx
export GOOGLE_CALENDAR_ID=primary
export WAVESHARE_EPD75_VERSION=2

export WEATHER_FORMAT=CELSIUS
export WEATHER_LATITUDE=51.3656
export WEATHER_LONGITUDE=0.1963

export TIMEOUT=300 # seconds

export HASS_URL='http://your.local.homeassistant.url:8123/'

# Create a long-lived access token for this script to use to access HomeAssistant.
# see https://developers.home-assistant.io/docs/auth_api/#long-lived-access-token
export HASS_BEARER_TOKEN=xxxxxxxx

# the HomeAssistant sensors to extract and the template strings to put them into
export HASS_SENSORS='{
    "sensor.car1_range_electric":"HCR_1",
    "sensor.car2_range":"HCR_2"
}'
