astral==3.2
babel==2.17.0
cachetools==5.5.2
cairocffi==1.7.1
CairoSVG==2.7.1
caldav==1.4.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorzero==2.0
cryptography==44.0.2
cssselect2==0.8.0
DateTime==5.5
defusedxml==0.7.1
drawsvg==2.4.0
emoji==2.14.1
google-api-core==2.24.2
google-api-python-client==2.167.0
google-auth==2.39.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.70.0
gpiozero==2.0.1
httplib2==0.22.0
humanize==4.12.2
icalendar==6.1.3
icalevents==0.2.1
idna==3.10
lgpio==0.2.2.0
lxml==5.3.2
msal==1.32.0
oauthlib==3.2.2
pigpio==1.78
pillow==11.2.1
proto-plus==1.26.1
protobuf==6.30.2
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
PyJWT==2.10.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
pytz-deprecation-shim==0.1.0.post0
recurring-ical-events==3.7.0
requests==2.32.3
requests-oauthlib==2.0.0
rpi-lgpio==0.6
RPi.GPIO==0.7.1
rsa==4.9.1
six==1.17.0
spidev==3.6
tinycss2==1.4.0
tzdata==2025.2
tzlocal==5.3.1
uritemplate==4.1.1
urllib3==2.4.0
vobject==0.9.9
webencodings==0.5.1
x_wr_timezone==2.0.1
zope.interface==7.2
